<!doctype html>
<html layout:decorator="layout/layout" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body class="pt-3">
<th:block layout:fragment="content">
        <!--jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-info text-white">
            <div class="container text-sm-center pt-5">
                <h1 class="display-2">Fall Orientation</h1>
                <p class="lead">Come meet your new classmates and become familiar with campus!</p>
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-lg" href="#register">Register Now!</a>
                    <a class="btn btn-secondary btn-lg" href="#speakers">See Orientation Leaders</a>
                </div>
            </div>
        </div>
        <!--/jumbotron -->
        <div th:fragment="flash" th:if="${flash != null}" class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span th:text="${flash}"></span></strong>
        </div>
        <div class="container pt-5">
            <!-- about -->
            <div class="row">
                <div class="col-sm">
                    <h3 class="mt-2 mb-4 ">About This School</h3>
                    <img class="mb-1 rounded img-fluid" th:src="@{/stlouis.jpg}" alt="st.louis" />
                    <p>The fun city of St. Louis, MO will be the host city for Fall Orientation!</p>
                    <p>Meet your new classmates!  Learn about campus resources!</p>
                </div>
                <div class="col-sm">
                    <h3 class="mt-2 mb-4">Orientation Leaders</h3>
                    <p>Orientation leaders are looking forward to meeting you!  They are great resources for learning how to get involved on campus</p>
                </div>
                <div class="col-sm">
                    <h3 class="mt-2 mb-4">What You'll Learn</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action"><strong>Tour of campus</strong></a>
                        <a href="#" class="list-group-item list-group-item-action"><strong>Discussion of campus resources</strong></a>
                        <a href="#" class="list-group-item list-group-item-action"><strong>Team building games</strong></a>
                        <a href="#" class="list-group-item list-group-item-action"><strong>Lunch</strong></a>

                    </div>
                </div>
            </div> <!-- /about -->

            <!-- speakers -->
            <h1 id="speakers" class="display-4 text-center my-3 text-muted">Leaders</h1>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/angie.png}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Nancy Drew</h4>
                            <p class="card-text">Nancy Drew is a cybersecurity major and member of the tennis team.  She can't wait to get to know the awesome incoming class!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/ecma.png}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Elizabeth Bennet</h4>
                            <p class="card-text">Elizabeth Bennett, a literature major, loves books and hiking.  She is looking forward to leading this terrific group!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/geo.png}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Colin Creevey</h4>
                            <p class="card-text">Colin Creevey is a photography student whose passion is journalism.  He loves welcoming new students to Awesome University!</p>
                        </div>
                    </div>
                </div>
            </div><!-- /speakers -->

            <!--schedule -->
            <h1 id="schedule" class="display-4 text-center my-3 text-muted">Schedule</h1>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Campus Tour</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">9:00am</span>
                    </div>
                    <p class="mb-1">See academic buildings, the library, the theater, and the recreation center</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Campus Resources</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">10:00am</span>
                    </div>
                    <p class="mb-1">Learn about academic resources such as advising, tutoring, and the library</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Team Building</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">11:00am</span>
                    </div>
                    <p class="mb-1">Play games and solve challenges as a team to get to know your classmates</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Lunch</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">11:00am</span>
                    </div>
                    <p class="mb-1">Free pizza for everyone</p>
                </a>

            </div>

            <!-- callout button -->
            <button type="button" class="btn btn-outline-info btn-lg d-block mx-auto my-5">Don't miss out, register now</button>

            <!-- signup form -->
            <hr />
            <form action="#" th:action="@{/register}" th:object="${attendee}" method="post">
                <div class="row py-4 text-muted">
                    <div class="col-md-6">
                        <p><strong>About Awesome University</strong></p>
                        <p>Awesome University's mission is to educate students for the future</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Stay up-to-date on Campus News</strong></p>
                        <div class="input-group">
                            <input id="register" type="text" th:field="*{email}" class="form-control" placeholder="Enter your email for info..." aria-label="Enter your email for info..." aria-describedby="basic-addon2" />
                            <span class="input-group-btn"> <button class="btn btn-primary" type="submit" value="Submit">Sign up</button></span>
                        </div>
                    </div>
                </div>
            </form>
            <hr /><!-- /signup form -->

            <!-- footer -->
            <div class="row py-3">
                <div class="col-md-7">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tracks</a>
                        </li>
                        <li class="nav-item">
                            <!-- split button -->
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-deoco">Other Events</button>
                                <button type="button" class="btn btn-deoco dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Fall Festival</a>
                                    <a class="dropdown-item" href="#">Fall Lecture Series</a>
                                    <a class="dropdown-item" href="#">Spring Lecture Series</a>
                                    <a class="dropdown-item" href="#">Graduation Ceremony</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 text-md-right">
                    <small>Awesome University</small>
                </div>
            </div>

            <!-- /footer -->

        </div>
</th:block>
</body>
</html>